@charset "UTF-8";

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

/*Q1サイズ変更*/
.size_box {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: #ff0000;
}

/*Q2以降のBOXサイズ*/
.re_box {
  width: 300px;
  height: 300px;
  position: relative;
}

/*Q2 色変更*/
.color_change {
  background: #ff0000;
  margin: 0 auto;
}

.is_flex {
  display: flex;
  justify-content: center;
}

/*Q3 margin値変更*/
.margin_change:not(:first-child) {
  margin-left: 150px;
}

/*Q4 float解除*/
.float_box {
  width: 600px;
  margin: 0 auto;
}

.AAA, .BBB {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*Q5・Q6 テキスト位置（絶対値）*/
.t_layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.re_change {
  flex-direction: row;
}

.order_change .lightgreen-box {
  order: 1;
}

.order_change .yellow-box {
  order: 2;
}

.order_change .pink-box {
  order: 3;
}

/*Q7 要素の表示・非表示*/
.vi_box_a, .vi_box_c {
  display: block;
}

.vi_box_b{
  display: none;
}

/*ボックスカラー*/
.red-box {
  background: #ff0000;
}

.blue-box {
  background: #0008ff;
}

.green-box {
  background: #22ff00;
}

.orange-box {
  background: #ff8400;
}

.lightgreen-box {
  background: #00ff51;
}

.yellow-box {
  background: #d4ff00;
}

.pink-box {
  background: #ff00e1;
}

/* -----960px以下に適用される----- */
@media screen and (max-width: 960px) {
  .size_box {
    width: 200px;
    height: 200px;
  }

  .color_change {
    background: #007bff;
  }

  .margin_change:not(:first-child) {
    margin-left: 50px;
  }

  .AAA, .BBB {
    float: none;
  }

  .re_change {
    flex-direction: row-reverse;
  }

  .order_change .pink-box {
  order: -1;
  }

  .vi_box_b {
    display: block;
  }

  .vi_box_a{
    display: none;
  }
  }